/******HEADER******/
.header-image{
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 3px;
    padding-top: 2px;
}

.header-title{
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
}

.nav-bar{
    text-align: center;
}

.nav-button{
    border: 2px;
    border-color: black;
    padding-top: 20px;
    padding-bottom:20px;
}

.home-btn{
    background-color: rgb(1,93,170);

}

.club-btn{
    background-color:rgb(127,163,28);
}

.fixture-btn{
    background-color: rgb(251,104,3);  
}

.btn-border{
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

section{
    margin-top: 280px;
}

/******HOME SECTION******/
.home-section{
    background-color: rgb(1,93,170);
    padding: 10px;
}

.last-match{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
}

.social-media{
    background-color:white;
}

.twitter-feed{
    overflow:scroll;
    max-height: 500px;
    background-color: rgb(177, 233, 235);
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-left-style: groove;
}

.trinity-news{
    background-color: white;
    margin-top: 10px;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    text-align: center;
}

.next-match{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    margin-top: 5px;
}



a:hover, a:active, a:focus{
    text-decoration: none;
}

.link-color-white a:link {
  color: white;
  }

 .link-color-white a:visited {
    color: white;
    }

.link-color-white a:hover, a:active, a:focus {
  color: black;
  text-decoration: none;
}
/*
.link-color-purple a:link {
  color: rgb(140, 0, 255);
  }

 .link-color-purple a:visited {
    color: rgb(140, 0, 255);
    }

.link-color-purple a:hover, a:active, a:focus {
  color: rgb(140, 0, 255);
}

.link-color-black-charity a:link {
  color: black;
  }

.link-color-black-charity a:visited {
    color: black;
    }

.link-color-black-charity a:hover, a:active, a:focus {
    color: black;
}

