/******HEADER******/
.header-image{
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 3px;
    padding-top: 2px;
    border-radius: 50%;
}

.header-title{
    font-size: 60px ;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
}

.navbar{
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
}

.home-navbar-button{
    color:rgb(1,93,170);
}

.club-navbar-button{
    color: rgb(127,163,28);
}

.fixtures-navbar-button{
    color: rgb(251,104,3);
}


.home-btn{
    background-color: rgb(1,93,170);

}

.club-btn{
    background-color:rgb(127,163,28);
}

.fixture-btn{
    background-color: rgb(251,104,3);  
}

.btn-border{
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

section{
    margin-top: 280px;
}

/******HOME SECTION******/

.home-section{
    background-color: rgb(1,93,170);
    padding: 10px;
}

.last-match{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
}

.home-font-sizing{
    font-size: 30px;
}

.social-media{
    background-color:white;
}

.twitter-feed{
    overflow:scroll;
    max-height: 540px;
    background-color: rgb(177, 233, 235);
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-left-style: groove;
}

.trinity-news{
    background-color: white;
    margin-top: 10px;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    text-align: center;
    padding-bottom: 20px;
}

.news-list{
    list-style-type: none;
}

.next-match{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    margin-top: 5px;
    padding-bottom: 10px;
}

.training-photo{
    max-height: 300px;
    max-width: 300px;

}


a:hover, a:active, a:focus{
    text-decoration: none;
}

.link-color-white a:link {
  color: white;
  }

 .link-color-white a:visited {
    color: white;
    }

.link-color-white a:hover, a:active, a:focus {
  color: black;
  text-decoration: none;
}

/******THE CLUB******/

.the-club-section{
    background-color: rgb(127,163,28);
    padding:10px;
}

.club-sub-header{
    background-color: white;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.about-club{
    background-color: white;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-section{ 
    background-color: white;
    border: 10px;
    border-color: rgb(249,252,7);
    border-style: groove;
    margin-top: 10px;
}

.contact-form{
    max-width: 500px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


/******FIXTURES******/

.fixture-section{
    background-color: rgb(251,104,3);
    padding: 10px;
}

.fixture-title{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    padding-bottom:10px;
    margin-bottom:10px;
}

.map-and-fixtures{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
}

div#map {
    min-height: 360px;
}

.map-section{
    max-width: 500px;
    padding-top: 10px;
}

.fixture-table{
    padding-top: 10px;
    padding-bottom: 10px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/******FOOTER******/

footer{
    background-color: rgb(249,252,7);
    padding:5px;
    text-align: center;
}

/****** MEDIA ADJUSTMENTS ******/

@media (max-width:1200px){
    .header-title{
    font-size:45px;
    }
    .twitter-feed{
        border-style: groove;
        margin-top: 10px;
    }
}

@media (max-width:850px){
    .header-title{
    font-size:35px;
    }
    .home-font-sizing{
        font-size: 20px;
    }
    .fixture-font-sizing{
        font-size:10px
    }
}

@media (max-width:800px){
    section{
    margin-top: 230px;
    }
    .header-title{
        padding-left: 0px;
        padding-right: 0px;
    }
    .header-image{
        max-width: 150px;
        max-height: 150px;
    }
    .twitter-feed{
    max-height: 300px;
    }
}


@media (max-width: 768px){
    .header-image{
        display: none;
    }
    section{
    margin-top: 142px;
    }
    .training-photo{
        max-height: 200px;
        max-width: 200px;
    }
}