/******HEADER******/
.header-image{
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 3px;
    padding-top: 2px;
    border-radius: 50%;
}

.header-title{
    font-size: 60px ;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
}
/*
.navbar{
    padding-right: 0px;
    padding-left: 0px;
}

.nav-button{
    border: 2px;
    border-color: black;
    padding-top: 20px;
    padding-bottom:20px;
}
*/
.home-btn{
    background-color: rgb(1,93,170);

}

.club-btn{
    background-color:rgb(127,163,28);
}

.fixture-btn{
    background-color: rgb(251,104,3);  
}

.btn-border{
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

section{
    margin-top: 280px;
}

/******HOME SECTION******/
.home-section{
    background-color: rgb(1,93,170);
    padding: 10px;
}

.last-match{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
}

.font-sizing{
    font-size: 30px;
}

.social-media{
    background-color:white;
}

.twitter-feed{
    overflow:scroll;
    max-height: 500px;
    background-color: rgb(177, 233, 235);
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-left-style: groove;
}

.trinity-news{
    background-color: white;
    margin-top: 10px;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    text-align: center;
    padding-bottom: 20px;
}

.next-match{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    margin-top: 5px;
    padding-bottom: 10px;
}

.training-photo{
    
    max-height: 300px;
    max-width: 300px;

}



a:hover, a:active, a:focus{
    text-decoration: none;
}

.link-color-white a:link {
  color: white;
  }

 .link-color-white a:visited {
    color: white;
    }

.link-color-white a:hover, a:active, a:focus {
  color: black;
  text-decoration: none;
}

/******THE CLUB******/
.contact-form{
    max-width: 500px;
    text-align: central;
    padding-top: 50px;
}




/******FIXTURES******/

div#map {
    min-height: 360px;
}

.map-section{
    max-width: 500px;
}




/****** MEDIA ADJUSTMENTS ******/

@media (max-width:1200px){
    .header-title{
    font-size:45px;
    }
    .twitter-feed{
        border-style: groove;
        margin-top: 10px;
    }
}

@media (max-width:850px){
    .header-title{
    font-size:35px;
    }
    .font-sizing{
        font-size: 20px;
    }
}

@media (max-width:800px){
    section{
    margin-top: 230px;
    }
    .header-title{
        padding-left: 0px;
        padding-right: 0px;
    }
    .header-image{
        max-width: 150px;
        max-height: 150px;
    }
    .twitter-feed{
    max-height: 300px;
    }
}


@media (max-width: 768px){
    .header-image{
        display: none;
    }
    section{
    margin-top: 142px;
    }
    .training-photo{
        max-height: 200px;
        max-width: 200px;
    }
}